1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName", "Free OpenSource Project"
            VALUE "FileDescription", "ADC Direct Connect Hub"
            VALUE "InternalName", "Luadch"
            VALUE "LegalCopyright", "blastbeat and pulsar"
            VALUE "OriginalFilename", "Luadch.exe"
            VALUE "ProductName", "Luadch"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END

101 ICON luadch.ico
